<%- include('partials/head') %>

<div id="start-menu">
    <p id="title">Hunnit Hens</p>
    <p id="desc">How many chickens can you make in 10 seconds?</p>
    <div>Click anywhere to start</div>
</div>

<script>
</script>
<%- include('partials/foot') %>